.hero {
  gap: rem-calc(64);

  text-align: center;
  .hero-content {
    // text-align: center;
    //   order: 2;
    .hero-description {
      font-size: rem-calc(20);
      margin: rem-calc(30) auto;
      width: 90%;
    }
    .hero-button {
      gap: 24px;
      .icon {
        width: 52px;
        height: 52px;
      }
    }
  }
  .hero-img {
    //   order: 1;
  }
}

@include breakpoint(large) {
  .hero {
    text-align: left;
    gap: 0;
    .hero-content {
      order: 1;
      .hero-description {
        width: 75%;
        margin: rem-calc(30) 0;
      }
      .hero-button {
        justify-content: start;
      }
    }
    .hero-img {
      order: 2;
    }
  }
}
