.points {
  margin: rem-calc(120) 0;
  gap: rem-calc(52);
  @include breakpoint(500px) {
    gap: rem-calc(52);
  }

  @include breakpoint(medium) {
    gap: 0;
  }
  .point-description {
    width: 90%;
    margin: 0 auto;

    @include breakpoint(500px) {
      width: 70%;
    }
    @include breakpoint(medium) {
      width: 90%;
    }
  }
}
